In [ ]:
import csv, sqlite3

In [ ]:
import pandas

In [ ]:
conn = sqlite3.connect('FinalDB.db')

In [ ]:
data1 = pandas.read_csv('ChicagoCensusData.csv')
data2 = pandas.read_csv('ChicagoPublicSchools.csv')
data3 = pandas.read_csv('ChicagoCrimeData.csv')
data1.to_sql('CENSUS_DATA', conn)
data2.to_sql('CHICAGO_PUBLIC_SCHOOLS', conn)
data3.to_sql('CHICAGO_CRIME_DATA', conn)

566

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///FinalDB.db

In [ ]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [ ]:
%%sql select COMMUNITY_AREA_NAME as ca1, COMMUNITY_AREA_NUMBER as ca2
from CENSUS_DATA
where PER_CAPITA_INCOME < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

In [ ]:
%sql SELECT  COUNT(CASE_NUMBER) FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%child%'

 * sqlite:///FinalDB.db
Done.

[(3,)]

In [ ]:
%sql select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE='KIDNAPPING'

 * sqlite:///FinalDB.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [ ]:
%sql select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE '%school%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

In [ ]:
%sql SELECT 'Elementary, Middle, or High School' as ss, AVG(SAFETY_SCORE) as AVERAGE_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS 
WHERE
ss = 'MS';

SyntaxError: invalid syntax (701993073.py, line 2)

In [ ]:
%%sql
select community_area_name, REPLACE(PERCENT_HOUSEHOLDS_BELOW_POVERTY, '%','') AS House_hold from CENSUS_DATA
order by House_hold desc nulls last limit 5;

 * sqlite:///FinalDB.db
Done.

[('Clearing', '8.9'),
 ('Garfield Ridge', '8.8'),
 ('Jefferson Park', '8.6'),
 ('North Center', '7.5'),
 ('Forest Glen', '7.5')]

In [ ]:
%%sql
select community_area_number , count(community_area_number) as a
from CHICAGO_CRIME_DATA group by community_area_number
order by a desc nulls last  limit 1

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [ ]:
%%sql
select COMMUNITY_AREA_NAME as CAN, HardShip_index as HSI 
from CENSUS_DATA group by CAN
order by HSI desc limit 1;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]

In [ ]:
%%sql
select CD.COMMUNITY_AREA_NAME as can from CENSUS_DATA CD ,
CHICAGO_CRIME_DATA CCD 
where CD.COMMUNITY_AREA_NUMBER = CCD.COMMUNITY_AREA_NUMBER
group by can
order by count(CCD.COMMUNITY_AREA_NUMBER) desc limit 1;

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

In [90]:
%%sql

SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) near "NUMBER": syntax error
[SQL: SELECT COMMUNITY AREA NUMBER, COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [97]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

In [103]:
%%sql


SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

In [109]:
%%sql


SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [113]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = "KIDNAPPING"

 * sqlite:///FinalDB.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [115]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION = “%CHILD%”

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) no such column: “
[SQL: SELECT * FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE = "KIDNAPPING" AND DESCRIPTION = “%CHILD%”]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [117]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE “%CHILD%”

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) no such column: “
[SQL: SELECT * FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE “%CHILD%”]
(Background on this error at: https://sqlalche.me/e/20/e3q8)