In [1]:
import csv, sqlite3
import pandas

In [2]:
conn = sqlite3.connect('RealWorldData.db')

In [4]:
%load_ext sql

In [5]:
%sql sqlite:///RealWorldData.db

In [6]:
%sql select name from sqlite_master where type='table'

 * sqlite:///RealWorldData.db
Done.

[('CHICAGO_PUBLIC_SCHOOLS_DATA',), ('CENSUS_DATA',)]

In [7]:
%sql select hardship_index from CENSUS_DATA CD , CHICAGO_PUBLIC_SCHOOLS_DATA CPS\
WHERE CD.community_area_name = CPS.community_area_name

 * sqlite:///RealWorldData.db
Done.

[]

In [14]:
%%sql 
select hardship_index CD1 from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
where CD.community_area_name = CPS.COMMUNITY_AREA_NAME and college_enrollment
and college_enrollment = 4368

 * sqlite:///RealWorldData.db
Done.

[]

In [16]:
%%sql
select hardship_index , CPS.COMMUNITY_AREA_NAME from CENSUS_DATA CD , CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
WHERE CPS.COLLEGE_ENROLLMENT = (SELECT MAX(COLLEGE_ENROLLMENT) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)

 * sqlite:///RealWorldData.db
Done.

[(39.0, 'NORTH CENTER'),
 (46.0, 'NORTH CENTER'),
 (20.0, 'NORTH CENTER'),
 (17.0, 'NORTH CENTER'),
 (6.0, 'NORTH CENTER'),
 (5.0, 'NORTH CENTER'),
 (2.0, 'NORTH CENTER'),
 (1.0, 'NORTH CENTER'),
 (8.0, 'NORTH CENTER'),
 (21.0, 'NORTH CENTER'),
 (25.0, 'NORTH CENTER'),
 (11.0, 'NORTH CENTER'),
 (33.0, 'NORTH CENTER'),
 (53.0, 'NORTH CENTER'),
 (35.0, 'NORTH CENTER'),
 (34.0, 'NORTH CENTER'),
 (28.0, 'NORTH CENTER'),
 (50.0, 'NORTH CENTER'),
 (70.0, 'NORTH CENTER'),
 (71.0, 'NORTH CENTER'),
 (42.0, 'NORTH CENTER'),
 (23.0, 'NORTH CENTER'),
 (85.0, 'NORTH CENTER'),
 (10.0, 'NORTH CENTER'),
 (73.0, 'NORTH CENTER'),
 (92.0, 'NORTH CENTER'),
 (83.0, 'NORTH CENTER'),
 (15.0, 'NORTH CENTER'),
 (87.0, 'NORTH CENTER'),
 (96.0, 'NORTH CENTER'),
 (76.0, 'NORTH CENTER'),
 (3.0, 'NORTH CENTER'),
 (7.0, 'NORTH CENTER'),
 (82.0, 'NORTH CENTER'),
 (47.0, 'NORTH CENTER'),
 (78.0, 'NORTH CENTER'),
 (97.0, 'NORTH CENTER'),
 (57.0, 'NORTH CENTER'),
 (26.0, 'NORTH CENTER'),
 (88.0, 'NORTH CENTER'),
 (14.0, 'NORTH CENTER'),
 (58.0, 'NORTH CENTER'),
 (55.0, 'NORTH CENTER'),
 (60.0, 'NORTH CENTER'),
 (41.0, 'NORTH CENTER'),
 (75.0, 'NORTH CENTER'),
 (79.0, 'NORTH CENTER'),
 (38.0, 'NORTH CENTER'),
 (52.0, 'NORTH CENTER'),
 (51.0, 'NORTH CENTER'),
 (65.0, 'NORTH CENTER'),
 (64.0, 'NORTH CENTER'),
 (62.0, 'NORTH CENTER'),
 (98.0, 'NORTH CENTER'),
 (44.0, 'NORTH CENTER'),
 (32.0, 'NORTH CENTER'),
 (67.0, 'NORTH CENTER'),
 (84.0, 'NORTH CENTER'),
 (61.0, 'NORTH CENTER'),
 (43.0, 'NORTH CENTER'),
 (91.0, 'NORTH CENTER'),
 (69.0, 'NORTH CENTER'),
 (93.0, 'NORTH CENTER'),
 (29.0, 'NORTH CENTER'),
 (56.0, 'NORTH CENTER'),
 (80.0, 'NORTH CENTER'),
 (89.0, 'NORTH CENTER'),
 (94.0, 'NORTH CENTER'),
 (66.0, 'NORTH CENTER'),
 (37.0, 'NORTH CENTER'),
 (74.0, 'NORTH CENTER'),
 (12.0, 'NORTH CENTER'),
 (48.0, 'NORTH CENTER'),
 (16.0, 'NORTH CENTER'),
 (30.0, 'NORTH CENTER'),
 (24.0, 'NORTH CENTER'),
 (19.0, 'NORTH CENTER'),
 (None, 'NORTH CENTER')]

In [19]:
%sql select  community_area_name, hardship_index from CENSUS_DATA \
   where community_area_name in \
   ( select community_area_name from CHICAGO_PUBLIC_SCHOOLS_DATA order by college_enrollment desc limit 1 )

 * sqlite:///RealWorldData.db
Done.

[]